.landing-empty-header {
    font-size: 18px;
    font-weight: 600;
}

.empty-screen {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 75%);
    text-align: center;
}

.empty-screen img {
    height: 100px;
}